*{
    box-sizing: border-box;
    margin: 0;
}

body{
    min-height: 100vh;
    background-color: hsl(233, 47%, 7%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 100%;
    filter: grayscale(100%) brightness(40%) sepia(100%) hue-rotate(-130deg) saturate(600%) contrast(0.8);
    border-radius: 0 5px 5px 0;
}

.container{
    display: flex;
    justify-content: center;
    max-width: 700px;
}

.container-1{
    background-color: hsl(244, 38%, 16%);
    width: 50%;
    border-radius: 5px 0 0 5px;
}

h1{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: hsl(0, 0%, 100%);
    padding: 20px 50px;
    margin-top: 10px;
}

.violet-let{
    color:hsl(275, 44%, 58%);
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 11px;
    line-height: 1.5;
    color:  hsla(0, 0%, 100%, 0.6);
    padding: 20px 50px;
    margin-top: -15px;
    margin-bottom: 10px;
}

ul{
    list-style-type: none;
    display: flex;
    padding: 20px 0;
}

.stats{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.big-text{
    font-size: 'Lexend deca', sans-serif;
    font-weight: 700;
    font-size: 15px;
    color: hsl(0, 0%, 100%);
}

ul li{
    margin: auto;
    font-size: 8px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: hsla(0, 0%, 100%, 0.75);
}


.container-2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.attribution{ 
    font-size: 11px; 
    text-align: center; 
    margin: 10px 0;
    color: hsl(0, 0%, 100%);
}

.attribution a{ 
    color: hsl(285, 43%, 53%); 
    text-decoration: none;
}

@media (max-width: 900px){
    main{
        margin: 40px;
    }    
    .container{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        text-align: center;
    }
    .container-1, .container-2{
        width: 100%;
    }
    .container-1{
        border-radius: 0 0 5px 5px;
    }
    img{
        border-radius: 5px 5px 0 0;
    }
}